language {
    display: block;
    height: 30px;
    text-align: center;
}

language img {
    height: 100%;
    border: 1px solid black;
    margin: 0px 5px 0px 5px;
}

language img.selected {
    border: 2px solid black;
}