* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #ebe5dd;
}

/* HEADER */

.main {
  margin: auto;
  max-width: 1200px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hala.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* NAVIGATION */
.navFont{
  font-variant: small-caps;
  margin-top: 10px;
  margin-right: 20px;
  color: white;
  font-size: large;
}

.main-list {
  float: right;
  font-variant: small-caps;
  list-style-type: none;
  margin-top: 10px;
  margin-right: 10px;
}

/* Responsive layout */
@media screen and (max-width: 1000px) {
  .navFont {
    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
  .navFont {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .main-list {
    font-size: 7px;
    font-weight: bold;
  }
}

.main-list-item {
  display: inline-block;
}

.nav-item {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
  transition: 0.7s ease;
}

.nav-item:hover {
  background-color: #6e0101;
  color: white;
}


a.active {
  background-color: #6e0101;
  color: white;
}

.active .navFont {
  color: white;
}
.history-list {
  margin-left: 40px;
  
}

.history-list a {
  text-decoration: none;
  color: #303036;
}

.history-list a:hover {
  color: green;
}

/* TITLE */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: white;
  font-size: 4vw;
  font-variant: small-caps;
}

/* MAIN CONTENT */


/* HISTORY */
.history {
  /* margin: 20px; */
  padding-top: 20px;
}

.history-para {
  padding: 13px;
}

.history-heading2 {
  margin: 2px;
  padding-top: 20px;
}

/* IMAGE GALLERY */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* FAMOUS PLACES PAGE */
/* IMAGE GALLERY */
.image-gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.gallery {
  border: 1px solid #ccc;
}

.gallery img {
  width: 100%;
  height: auto;
}

.des {
  padding: 15px;
  text-align: center;
}

.responsive {
  margin-top: 10px;
  padding: 0 7px;
  width: 290px;
}

/* Restaurants Page */
.restaurants {
  padding: 10px;
}

.restaurants-link {
  color: #6e0101;
}

/* STOPS Page*/
.stops-link {
  color: blue;
}

/* Hospitals Page */

.hospitals-link {
  color: green;
}

/* FOOTER */
.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h1 {
  color: white;
}

.footer-para {
  margin: 10px 0;
}

.footer .footer-content .about .contact span {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1em;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 38px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  text-decoration: none;
  color: #d3d3d3;
  border-radius: 5px;
  transition: all 0.3s;
}

.footer .footer-content .about .socials a:hover {
  color: white;
  border: 1px solid white;
  transition: all 0.3s;
}

.footer-section {
  text-align: center;
}

.logo-text {
  font-variant: initial;
}

.logo-text .logo-span {
  color: #a2c376;
}

.zoom {
  transition: transform .5s;
}

.zoom:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

.btn-checkout{
  background-color: #6e0101;
  color: white;
}

.btn-checkout:hover{
  background-color: rgb(235, 235, 235);
  color: #6e0101;
}

.card-title{
  font-size: large;
  color: #6e0101;
  font-weight: bold;
  text-transform: capitalize;
}

.card-text{
  font-size: small;
  color: #6e0101;
  font-weight: 400;
  text-transform: capitalize;
}

.navbarcustomize {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.icon-color{
  color: #686868;
}

.icon-color:hover{
  color: red;
}

.tb{
    display: table;
    width: 100%;
}

.td{
    display: table-cell;
    vertical-align: middle;
}

.searchInput, .searchButton{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    border-color: transparent;
    background-color: transparent;
}

#cover{
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    width: 80%;
    padding: 0px 35px;
    margin: 0px auto;
    background-color: #6e0101;
    border-radius: 20px;
    box-shadow: 0 10px 10px #646464, 0 0 0 10px #ffffffeb;
    transform: scale(0.4);
}

@media screen and (max-width: 768px) {
  #cover{
    width: 100%;
  }
}

.searchInput{
    width: 100%;
    height: 60px;
    font-size: 40px;
    line-height: 1;
    padding-left: 10px;
}

.searchInput::placeholder{
    color: white;
}

.searchInput:hover {
  border-color: transparent;
}

#s-cover{
    width: 1px;
    padding-left: 35px;
}

.searchButton{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle{
    position: relative;
    top: -8px;
    left: 0;
    width: 65px;
    height: 65px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.searchButton span{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.searchButton span:before, .searchButton span:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 0px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#myInput {
  border-color: transparent;
}

#s-cover:hover #s-circle{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover .searchButton span:before{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover .searchButton span:after{
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover .searchButton span:before, #s-cover:hover .searchButton span:after{
    right: -6px;
    width: 40px;
    background-color: #fff;
  color: #6e0101;
}

@font-face {
  font-family: serifFont;
  src: url('../fonts/NotoSerif-Regular.ttf');
}



.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 999;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 999;
  font-size: 1px;
  border: none;
  outline: none;
  background-color: #6e0101;
  color: white;
  cursor: pointer;
  padding: 1px;
  border-radius: 60%;
}

.arrow {
  z-index: 100;
  color: white;
}

#myBtn:hover {
  background-color: #555;
}

